html, body {
    background: var(--background);
    color: var(--text-color);
}
* {
    box-sizing: border-box;
}

#page-middle-container {
    width: 90%;
    max-width: 1300px;
    margin-inline: auto;
    padding: .6rem;
}

/* program grid */
.programs-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 225px);
    gap: 1rem;
}
.program-link {
    display: block;
    color: var(--text-color);
    text-decoration: none;
}
.program {
    border: 2px solid var(--borders);
    border-radius: 6px;
    padding: .5rem;
    background-color: var(--surface);
    text-align: center;
    overflow: hidden;
}
.program_thumbnail {
    width: 100%;
    height: auto;
    border-radius: .25rem;
}
.program_title {
    margin: 0px;
    margin-bottom: 6px;
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}
.program_metadata-wrapper {
    text-align: left;
    padding: 2px;
}
.thumbnail-img {
    margin-bottom: 4px;
}

.list-tab-btn {
    padding: 4px;
    font-weight: bold;
    color: rgb(21, 149, 69);
    cursor: pointer;
    user-select: none;
}
.list-tab-btn:hover {
    text-decoration: underline;
}

.author-link {
    text-decoration: none;
    color: rgb(0, 140, 60);
}
.author-link:hover {
    text-decoration: underline;
}

.button {
    background-color: rgb(13, 146, 63);
    border: 0px solid white;
    border-radius: 4px;
    margin-right: 8px;
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    color: white;
    font-size: 17px;
    font-weight: 400;
}
.button:hover {
    background-color: rgb(10, 130, 50);
    /*border: 2px rgb(0, 80, 0) solid;*/
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}